*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(235, 203, 203);
}


.crud{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    text-align: center;
}

table td{
    width: 200px;
    height: 30px;
    background-color: blue;
    color: white;
}

table td button{
    padding: 5px;
    border-radius: 5%;
    color: white;
    margin: 5%;
    cursor: pointer;
}

table td button.edit{
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding:  6px 11px 6px 11px;
    font-weight: 600;
    
}

table td button.edit:hover{
    background-color: rgb(70, 63, 63);
    transition: 0.3s;
    font-weight: 600;
    color: rgb(255, 255, 255);
}


table td button.delete{
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 600;
}

table td button.delete:hover{
    background-color: rgb(70, 63, 63);
    color: white;
    transition: 0.3s;
    font-weight: 600;
}


.addForm{
    margin-bottom: 30px;
}

.addForm input{
    width: 230px;
    height: 30px;
    background-color: rgb(163, 160, 160);
    color: rgb(0, 0, 0);
    margin: 2px;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 4px;
    font-weight: 600;
    cursor: pointer;
}
 ::placeholder{
    color: rgb(12, 9, 9);
 }


.addForm input:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
   
}
.addForm button{
    width: 140px;
    color: white;
    background-color: rgb(24, 4, 116);
    height: 35px;
    cursor: pointer;
    border-radius: 5%;
    font-weight: 600;
}

.addForm button:hover{
    background-color: rgb(95, 95, 221);
    color: black;
    transition: 0.3s;
    font-weight: 600;
}


.update{
    background-color: rgb(23, 41, 56);
}

.update:hover{
    color: red;
}